<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="slider-wrapper">
    <swiper-container #swiper appSwiper [config]="swiperConfig" class="swiper">
      <swiper-slide class="swiper-slide" *ngFor="let item of slides; trackBy: trackById">
        <div class="slider">
          <img class="slider__img" src="{{ item.src }}" alt="{{ item.title }}">
        </div>
      </swiper-slide>
      <div class="swiper-pagination"></div>
    </swiper-container>
  </div>
</ion-content>
